.page {
  min-height: 100vh;
  background: var(--background-one);
  display: flex;
  align-items: center;

  .wrapper {
    max-width: 500px;
    margin: 0 auto;

    .content {
      height: fit-content;
      padding: 2rem;

      h1 {
        margin-bottom: 0.5rem;
        font-size: 2rem;
        font-weight: 700;
      }

      p {
        color: var(--foreground-two);
        font-size: 1rem;
        font-weight: 500;
      }

      h3,
      h4 {
        color: var(--foreground-two);
        font-size: 0.9rem;
        font-weight: 500;
        text-align: center;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }

        span {
          color: var(--foreground-one);
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          cursor: pointer;
          transition: 100ms ease-in;

          &:hover {
            color: var(--accent);
          }
        }
      }

      h4 {
        max-width: 350px;
        margin: 0 auto;
        font-size: 0.8rem;
      }

      .form {
        width: 100%;
        margin: 1.75rem 0 2rem;
        display: flex;
        flex-direction: column;

        .field {
          position: relative;
          width: 100%;
          height: 3.75rem;
          margin-bottom: 1rem;

          input {
            width: 100%;
            height: 100%;
            padding: 1rem 1.25rem 0;
            background: var(--background-three);
            border-radius: 0.5rem;
            font-size: 1rem;
            font-weight: 600;

            &[type="password"] {
              padding-right: 3.75rem;
            }

            &:focus ~ label,
            &:not(:placeholder-shown) ~ label {
              transform: translateY(-137%);
              color: var(--foreground-two);
              font-size: 0.6rem;
            }
          }

          label {
            position: absolute;
            top: 50%;
            left: 1.25rem;
            transform: translateY(-50%);
            font-size: 1rem;
            font-weight: 600;
            text-transform: capitalize;
            pointer-events: none;
            user-select: none;

            .weak {
              color: var(--red-foreground);
            }

            .medium {
              color: var(--orange-foreground);
            }

            .strong {
              color: var(--green-foreground);
            }
          }

          .show_button {
            position: absolute;
            top: 50%;
            right: 1.25rem;
            transform: translateY(-50%);
            font-size: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 100ms ease-in;

            &:hover {
              color: var(--accent);
            }
          }
        }

        button {
          width: 100%;
          height: 3.75rem;
          background: var(--accent);
          border-radius: 0.5rem;
          font-weight: 600;
          text-align: center;
          text-transform: capitalize;
          cursor: pointer;
          transition: 100ms ease-in;

          &:hover {
            background: var(--dark-accent);
          }

          &:disabled:hover {
            background: var(--red-foreground);
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
