{
	"$schema": "https://swc.rs/schema.json",
	"jsc": {
		"baseUrl": "src",
		"parser": {
			"dynamicImport": true,
			"syntax": "typescript",
			"tsx": false
		},
		"paths": {
			"@/*": ["./*"],
			"@/controllers/*": ["api/controllers/*"],
			"@/middleware/*": ["api/middleware/*"],
			"@/models/*": ["api/models/*"],
			"@/routes/*": ["api/routes/*"],
			"@/services/*": ["api/services/*"]
		},
		"target": "esnext"
	},
	"minify": true,
	"module": {
		"lazy": true,
		"strict": true,
		"strictMode": true,
		"type": "commonjs"
	}
}
